.commentBody{
    font-family: sans-serif;
    text-align: left;
    border: dimgrey;
    border-radius: 5px;
    background-color: #c5a5a5;
    padding: 10px;
    margin: 10px;
}
h2{
    font-size: 24px;
    font-weight: bold;
}
p{
    font-size: 12px;
}
.bodyComment{
    background-color: #8c7474;
    display: flex;
    align-items: start;
    padding: 8px;
}