h2{
    font-size: 24px;
    font-weight: bold;
}
h3{
    font-size: 18px;
    font-weight: bold;
}
.postBody{
    font-size: 16px;
    background: #dee3e3;
    display: flex;
    padding: 0 10px;
}
.post{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items:start;
    border: 1px solid dimgrey;
   margin: 1em;
    padding:  0.5em;
}