.profile-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}
img{
    width: 50px;
}
button{
    width:150px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #ba9b9b;
}
button:hover{
    background-color: #ba8a8a;
}